*{
    /*去掉浏览器默认自带的间距*/
    margin:0; /*m0 tab*/
    padding:0;/*p0 tab*/
}
a{
    text-decoration: none; /*td tab 去掉下划线*/
}
li{
    list-style: none; /*lis-none tab 去掉li默认的小黑点*/
}

.col-box{
    width: 190px; /*w190 tab 宽度*/
    height: 380px; /*h380 tab 高度*/
    background:#00a5c0; /*bg tab 背景颜色*/
    margin:50px auto;/* 上下 50 左右auto 块元素水平居中*/
}
.btn-cangbaoge{
    display: block; /*db tab 把元素转换为块级元素*/
    height: 62px; /*h62 tab*/
    background: #08bad7 url("../images/index_z_448b179.png") no-repeat -190px -230px; /*bg tab*/
    text-indent: -99999px; /*ti tab*/
    /*首段缩进:足够大的负值 可以让文字消失在页面中*/
    font-size: 0;/*字体大小为0*/
    overflow: hidden; /*解决margin-top的传递问题*/
}
.btn-cangbaoge em{
    position: relative;
    display: block;
    width: 48px;
    height: 39px;
    margin-top:12px;
    margin-left:20px;
    overflow: hidden;
}
.btn-cangbaoge em i{
    position: absolute;
    left:0;
    top:0;
    display: block;
    width: 48px;
    height: 39px;
    background: url("../images/index_z_448b179.png") no-repeat -134px -328px;
    transition: all .3s ease-out;
}
.btn-cangbaoge em:after{
    position: absolute;
    left:0;
    top:39px;
    content: '';
    display: block;
    width: 48px;
    height: 39px;
    background: url("../images/index_z_448b179.png") no-repeat -134px -328px;
    transition: all .3s ease-out;
}
.btn-cangbaoge:hover em i{
    top:-39px;
}
.btn-cangbaoge:hover em:after{
    top:0;
}
.col-box li{
    height: 63px;
    line-height: 63px;
    font-size: 14px;
}
.col-box li a{
    display: block;
    color:#fff;
}
.entrance01 em{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 31px;
    margin-left:30px;
    margin-right:10px;
    overflow: hidden;
}
.entrance01 i{
    position: absolute;
    top:-31px;
    left:0;
    display: block;
    width: 33px;
    height: 31px;
    background: url("../images/index_z_448b179.png") no-repeat -222px -199px;
    transition: all .3s ease-out;
}
.entrance01 em:after{
    position: absolute;
    top:0;
    left:0;
    content: '';
    display: block;
    width: 33px;
    height: 31px;
    background: url("../images/index_z_448b179.png") no-repeat -222px -199px;
    transition: all .3s ease-out;
}
.entrance01 a:hover i{
    top:0
}
.entrance01 a:hover em:after{
    top:31px;
}

.entrance02 em{
    width: 28px;
    height: 36px;
}
.entrance02 i{
    top:-36px;
    width: 28px;
    height: 36px;
    background-position: -190px -292px;
}
.entrance02 em:after{
    width: 28px;
    height: 36px;
    background-position: -190px -292px;
}
.entrance02 a:hover em:after{
    top:36px
}

.entrance03 em{
    width: 32px;
    height: 31px;
}
.entrance03 i{
    top:-31px;
    width: 32px;
    height: 31px;
    background-position: -190px -199px;
}
.entrance03 em:after{
    width: 32px;
    height: 31px;
    background-position: -190px -199px;
}
.entrance03 a:hover em:after{
    top:31px
}

.entrance04 em{
    width: 30px;
    height: 32px;
}
.entrance04 i{
    top:-32px;
    width: 30px;
    height: 32px;
    background-position: -282px -292px;
}
.entrance04 em:after{
    width: 30px;
    height: 32px;
    background-position:  -282px -292px;
}
.entrance04 a:hover em:after{
    top:32px
}

.entrance05 em{
    width: 30px;
    height: 28px;
}
.entrance05 i{
    top:-28px;
    width: 30px;
    height: 28px;
    background-position:-345px -199px;
}
.entrance05 em:after{
    width: 30px;
    height: 28px;
    background-position: -345px -199px;
}
.entrance05 a:hover em:after{
    top:28px
}