*{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
.banner{
    height: 580px;
    background: url(../images/pic0.jpg) no-repeat center top;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}
.list {
    width: 240px;
    height: 350px;
    position: absolute;
    top:70px;
    right: 50px;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 20%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,0) 100%);
    background: linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 20%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,0) 100%);
    padding-top: 50px;
}
.list li{
    line-height: 30px;
    padding:0 10px;
    font-size: 14px;
    font-family: Microsoft yahei;
}
.list li i{
    padding:  0 5px 0 2px;
    font-style: normal;
}
.list li.cur,.list li:hover{
    background: #fff;
    padding: 10px;
}
.list li.cur span,.list li:hover span{
    font-size: 24px;
    color:#ff6428;
    display: block;
}
.list li.cur i,.list li:hover i{
    display: none;
}

